<script>
Mousetrap.bind(['e'], function( e ) {
  e.preventDefault();
  window.location = "/edit" + window.location.pathname;
  return false;
});
</script>

<div id="body" class="container">
  <div class="row">
    <div class="span12">
      <h2><a href="{{base_url}}/" class="action-home-page"><i class="fa fa-home"></i></a> / {{ page_header }}</h2>
    </div>
  </div>
  <div class="row {{#has_header}}has-header{{/has_header}}{{#has_footer}} has-footer{{/has_footer}}{{#has_sidebar}} has-sidebar has-{{bar_side}}bar{{/has_sidebar}}{{#has_toc}} has-toc{{/has_toc}}">
    <div class="span8">
      <div id="wiki-body" class="gollum-{{format}}-content">
        {{#has_header}}
        <div id="wiki-header" class="gollum-{{header_format}}-content">
          <div id="header-content" class="markdown-body">
            {{{header_content}}}
          </div>
        </div>
        {{/has_header}}
        <div class="markdown-body">
          {{{content}}}
        </div>
      </div>
      {{#has_footer}}
      <div id="wiki-footer" class="gollum-{{footer_format}}-content">
        <div id="footer-content" class="markdown-body">
          {{{footer_content}}}
        </div>
      </div>
      {{/has_footer}}
    </div>
    <div class="span4">
      {{>user}}

      <ul class="">
        <li class="">
          {{>searchbar}}
        </li>
        <li class=""></li>
        <li class=""><a href="{{base_url}}/pages" class="action-all-pages">All</a></li>
        <li class=""><a href="{{base_url}}/fileview" class="action-fileview">Files</a></li>
        <li class=" jaws"> <a href="#" id="-new-page">New</a></li>
        {{#allow_uploads}}
        <li class=" jaws"> <a href="#" id="-upload-page">Upload</a></li>
        {{/allow_uploads}}
        {{#editable}}
        <li class=" jaws"> <a href="#" id="-rename-page">Rename</a></li>
        <li class=""><a href="{{base_url}}/edit/{{escaped_url_path}}" class="action-edit-page">Edit</a></li>
        {{/editable}}
        <li class=""><a href="{{base_url}}/history/{{escaped_url_path}}" class="action-page-history">History</a></li>
        <li class=""><a id="delete-link" href="{{base_url}}/{{escaped_url_path}}" data-confirm="Are you sure you want to delete this page?"><span>Delete this Page</span></a></li>
      </ul>

      {{#has_toc}}
      <div id="wiki-toc-main">
        {{{toc_content}}}
      </div>
      {{/has_toc}}

      {{#has_sidebar}}
      <div id="wiki-sidebar" class="gollum-{{sidebar_format}}-content">
        <div id="sidebar-content" class="markdown-body">
          {{{sidebar_content}}}
        </div>
      </div>
      {{/has_sidebar}}

      <p id="last-edit">Last edited by <b>{{author}}</b>, {{date}}</p>
      <p>
        <a href="https://api.qrserver.com/v1/create-qr-code/?size=1000x1000&amp;data={{base_url}}/{{escaped_url_path}}">
          <img src="https://api.qrserver.com/v1/create-qr-code/?size=300x300&amp;data={{base_url}}/{{escaped_url_path}}" />
          Get this page's QR Code.
        </a>
      </p>
    </div>
  </div>
</div>

<form name="rename" method="POST" action="{{base_url}}/rename/{{escaped_url_path}}">
  <input type="hidden" name="rename"/>
  <input type="hidden" name="message"/>
</form>
